<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinitialisation de mot de passe</title>
</head>
<body>
     {% apply inline_css(source('@email_css/email.css')) %}
        <div class="container">
            <h1>Bonjour <span class="highlight">{{ username }}</span></h1>
            <p>
                Nous avons reçu une demande de réinitialisation de mot de passe de votre compte
            </p>
            <p>
                Si vous n'etes pas à l'origine de cette demande, veuillez ignorer cet email
            </p>
            <p>
                Si la demande est bien la votre, veuillez cliquer sur le lien suivant, ce lien est valide 2 heures.
            </p>
            <a href="{{ url('reset-password', {token: token}) }}">Changer le mot de passe</a>
        </div>
    {% endapply %}
</body>
</html>