html {
    font-family: "Open Sans", sans-serif;
    color: #636466;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    min-width: 85%;
    min-height: 90%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    background: #d4d4d4;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    clear: both;
}

.highlight {
    color: #151e3f;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #415bb6;
    border-radius: 3px;
}
