.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;

    @include xs {
        width: 45px;
        height: 45px;
    }

    &-small {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
    }
}
