/* HEADER */

header {
    box-shadow: var(--box-shadow);
}

.header {
    &-logo {
        max-width: 150px;

        & img {
            max-width: 150px;
            border-radius: 8px;
        }
    }

    &-search {
        border-radius: var(--border-radius);
        background-color: var(--gray-light);
        max-width: 400px;

        & input {
            border: none;
            outline: none;
            background-color: var(--gray-light);
        }
    }
}
