/* HEADER */

header {
    box-shadow: var(--box-shadow);

    .header {
        &-logo {
            max-width: 150px;

            & img {
                max-width: 150px;
                border-radius: 8px;

                @include xs {
                    width: 100px;
                }
            }
        }

        &-search {
            border-radius: var(--border-radius);
            background-color: var(--gray-light);
            max-width: 400px;
            font-size: 16px;
            height: 30px;
            position: relative;

            @include xs {
                display: none;
            }

            & input {
                border: none;
                outline: none;
                background-color: var(--gray-light);
            }

            &-loading {
                height: 30px;
            }

            &-result {
                width: 100%;
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                background-color: white;
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
                padding: 10px;

                a {
                    padding: 10px;
                }
            }
        }
    }
    .burger {
        font-size: 24px;
        margin-right: 10px;
        z-index: 5;
    }
}

.menu-xs {
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-light);
    opacity: 0.95;
    border-radius: 10px;
    margin: 10px 10px 0;
    position: absolute;
    top: 30px;
    right: 0;

    .onMenu {
        display: flex;
        flex-direction: row-reverse;
        height: 40px;
    }

    .menu-content {
        opacity: 1;
        color: black;

        a {
            margin: 10px 15px;
        }
    }
}
