/* SIDEBAR */

.sidebar {
    min-width: 200px;

    @include xs {
        width: 100%;
        justify-content: center;
        padding: 20px 0;
    }

    &-nav a {
        display: block;
        padding: 10px;
        cursor: pointer;
        font-size: var(--font-size-small);
        transition: opacity 0.4s;

        &:hover {
            opacity: 0.8;
        }

        & i {
            color: var(--color-dark);
        }
    }
}

.active {
    font-weight: bold;
    color: var(--primary);
}
