@import "./mixins";

.question-title {
    color: var(--primary);
    font-weight: var(--font-weight-bold);
}

.tagQ {
    background-color: var(--primary);
    color: white;
    height: 25px;
    width: 25px;
    font-weight: var(--font-weight-semi-bold);
    text-align: center;
    margin-left: 10px;
    border-radius: 50%;
    padding-top: 3px;
    margin-right: 5px;
}

.tagR {
    background-color: var(--color);
    color: white;
    height: 25px;
    width: 25px;
    font-weight: var(--font-weight-semi-bold);
    text-align: center;
    margin-left: 10px;
    border-radius: 50%;
    padding-top: 3px;
    margin-right: 5px;
}

.sectionTitle {
    color: var(--primary-light);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}

.panel {
    &-l {
        margin-right: 10px;

        @include xs {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    &-r {
        margin-left: 10px;

        @include xs {
            margin-left: 0;
            margin-top: 10px;
        }
    }
}
